In [9]:
# Read data
import pandas as pd
data=pd.read_csv('../data/data.csv')

C:\Users\Ojas\AppData\Local\Temp\ipykernel_18452\4291026395.py:2: DtypeWarning: Columns (18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('../data/data.csv')

In [11]:
# First letter of full name
first_letters=data['name'].str[0].value_counts()
first_letters

M    8949
A    7078
J    5088
S    4605
H    3630
     ...
英       1
额       1
甲       1
宝       1
Ҳ       1
Name: name, Length: 532, dtype: int64

In [4]:
# First letter of given name
data[['given_name']].dropna().applymap(lambda x: x[0]).value_counts()

given_name
M             4704
A             4246
J             3864
S             2354
R             2100
              ...
s                1
È                1
h                1
Х                1
З                1
Length: 75, dtype: int64

In [8]:
# First letter of family name
data['family_name'].dropna().apply(lambda x: x[0]).value_counts()

B    2448
S    2400
M    2352
K    1684
L    1624
     ...
       1
Ņ       1
Ķ       1
Ț       1
ª       1
Name: family_name, Length: 85, dtype: int64

---

Some people claimed that among CEOs of top companies, there were more people named John than women. Is this the case for MPs too?

According to NYT, this is the case for senators and representatives in both parties in the US.

https://www.nytimes.com/interactive/2018/04/24/upshot/women-and-men-named-john.html

In [7]:
data['gender'].value_counts()

male      47200
female    13469
Name: gender, dtype: int64

In [10]:
data['name'].str.contains('John').value_counts()

False    77809
True       573
Name: name, dtype: int64

Thus it is wrong to claim that there are more Johns than women in the world. We could do this for specific countries.

---

## Most common names of MPs

In [17]:
most_common_names=data['name'].str.split().str[0].value_counts()
most_common_names.head(10)

Mehmet     582
José       399
John       393
Ali        353
Dr.        340
David      331
Peter      328
Ahmet      327
Michael    282
Mustafa    278
Name: name, dtype: int64

Very shocking, Mehmet is #202 most common in world. Jose is #4, John is #12, Ali is #11. Maybe because of many records in Turkey??
https://forebears.io/earth/forenames