In [1]:
from requests import get
import pandas as pd

In [2]:
all_countries=get('https://raw.githubusercontent.com/everypolitician/everypolitician-data/master/countries.json')
j=all_countries.json()
len(j)

233

In [3]:
# Functions to get country and legislature wise data

def get_legislature_data(link):
    data=get(link)
    df=pd.json_normalize(data.json()['persons'])
    return df

def get_country_data(country):
    df=pd.concat([get_legislature_data(legislature['popolo_url']) for legislature in country['legislatures']])
    df['country']=country['name']
    return df

In [4]:
# Create a dataframe with data for all countries
df=pd.concat([get_country_data(country) for country in j])
df

,gender,id,identifiers,image,images,name,birth_date,links,other_names,given_name,...,contact_details,family_name,death_date,email,sort_name,honorific_prefix,honorific_suffix,national_identity,summary,patronymic_name
0,female,0a93b26d-ebc5-44f5-b4fa-935ae209620f,"[{'identifier': '127', 'scheme': 'everypolitic...",http://www.parlamentra.org/upload/iblock/d1a/g...,[{'url': 'http://www.parlamentra.org/upload/ib...,Гамисония Эмма Алексеевна,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,male,0ac7e64e-b723-4bdb-85f6-81ff217a70fa,"[{'identifier': '211', 'scheme': 'everypolitic...",http://www.parlamentra.org/upload/iblock/4dd/I...,[{'url': 'http://www.parlamentra.org/upload/ib...,Барганджия Гурам Юрьевич,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,male,0b515281-445d-49dd-9044-d886d85f0970,"[{'identifier': '157', 'scheme': 'everypolitic...",http://www.parlamentra.org/upload/iblock/244/c...,[{'url': 'http://www.parlamentra.org/upload/ib...,Чамагуа Леонид Михайлович,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,male,12d1a33c-daa4-496c-965a-4cd4749eda78,"[{'identifier': '130', 'scheme': 'everypolitic...",http://www.parlamentra.org/upload/iblock/c3b/t...,[{'url': 'http://www.parlamentra.org/upload/ib...,Цвижба Отари Шотович,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,male,15a55ab3-c81c-4f5f-ae75-ea5446dd5ef6,"[{'identifier': '138', 'scheme': 'everypolitic...",http://www.parlamentra.org/upload/iblock/30b/y...,[{'url': 'http://www.parlamentra.org/upload/ib...,Язычба Заур Гайдарович,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,male,ed4838aa-19f8-493c-b8c4-58780b5b0d84,"[{'identifier': '112', 'scheme': 'everypolitic...",http://www.lagtinget.ax/files/sjolund_folke.jpg,[{'url': 'http://www.lagtinget.ax/files/sjolun...,Sjölund Folke,1943-12-16,"[{'note': 'Wikipedia (fi)', 'url': 'https://fi...","[{'lang': 'en', 'name': 'Folke Sjölund', 'note...",Folke,...,NaN,Sjölund,2013-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,male,f105a4a0-5fef-4be7-ab73-9376923491a7,NaN,https://www.lagtinget.ax/sites/www.lagtinget.a...,[{'url': 'https://www.lagtinget.ax/sites/www.l...,John Holmberg,1967,NaN,NaN,NaN,...,"[{'type': 'email', 'value': 'john.holmberg@lag...",NaN,NaN,john.holmberg@lagtinget.ax,NaN,NaN,NaN,NaN,NaN,NaN
57,male,f4f995ae-126c-468f-8f26-deec1e26adc2,"[{'identifier': '372', 'scheme': 'everypolitic...",http://www.lagtinget.ax/files/asumaa_tony.jpg,[{'url': 'http://www.lagtinget.ax/files/asumaa...,Asumaa Tony,1968-09-15,"[{'note': 'Wikipedia (en)', 'url': 'https://en...","[{'lang': 'en', 'name': 'Tony Asumaa', 'note':...",Tony,...,NaN,Asumaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,male,fe40bb08-5025-473d-af52-bf1e30ecc5e6,"[{'identifier': '88', 'scheme': 'everypolitici...",http://www.lagtinget.ax/files/sundblom_torsten...,[{'url': 'http://www.lagtinget.ax/files/sundbl...,Sundblom Torsten,1951-09-15,"[{'note': 'Wikipedia (fi)', 'url': 'https://fi...","[{'lang': 'en', 'name': 'Torsten Sundblom', 'n...",Torsten,...,"[{'type': 'email', 'value': 'torsten.sundblom@...",NaN,NaN,torsten.sundblom@lagtinget.ax,NaN,NaN,NaN,NaN,NaN,NaN
59,male,ff7b67a7-d3bf-4179-801d-7005059524e6,NaN,https://www.lagtinget.ax/sites/www.lagtinget.a...,[{'url': 'https://www.lagtinget.ax/sites/www.l...,Fredrik Fredlund,1978,NaN,NaN,NaN,...,"[{'type': 'email', 'value': 'fredrik.fredlund@...",NaN,NaN,fredrik.fredlund@lagtinget.ax,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
gender_df=df.groupby(df['gender']).count()[['name']]
gender_df['percentage']=(gender_df['name']/gender_df['name'].sum()*100).round(1).astype(str) + '%'
gender_df.rename(columns={'name':'count'},inplace=True)
gender_df.reset_index(inplace=True)
gender_df

   gender  count percentage
0  female  13469      22.2%
1    male  47200      77.8%

In [14]:
# G7 Country wise data
g7_countries=['Canada','France','Germany','Italy','Japan','United Kingdom','United States']
g7_df=df[df['country'].isin(g7_countries)]
g7_df

,gender,id,identifiers,image,images,name,birth_date,links,other_names,given_name,...,contact_details,family_name,death_date,email,sort_name,honorific_prefix,honorific_suffix,national_identity,summary,patronymic_name
0,male,00390221-a0ac-4cd6-8e3f-75ab374ade6d,"[{'identifier': 'chris-bittle', 'scheme': 'eve...",http://www.ourcommons.ca/Parliamentarians/Imag...,[{'url': 'http://www.ourcommons.ca/Parliamenta...,Chris Bittle,1979-02-17,"[{'note': 'Wikipedia (en)', 'url': 'https://en...",NaN,Chris,...,"[{'type': 'email', 'value': 'Chris.Bittle@parl...",Bittle,NaN,Chris.Bittle@parl.gc.ca,NaN,NaN,NaN,NaN,NaN,NaN
1,male,0068ee69-6842-482c-9ffc-b7c67854ceef,"[{'identifier': 'chandra-arya', 'scheme': 'eve...",http://www.ourcommons.ca/Parliamentarians/Imag...,[{'url': 'http://www.ourcommons.ca/Parliamenta...,Chandra Arya,NaN,"[{'note': 'Wikipedia (en)', 'url': 'https://en...",NaN,Chandra,...,"[{'type': 'email', 'value': 'Chandra.Arya@parl...",Arya,NaN,Chandra.Arya@parl.gc.ca,NaN,NaN,NaN,NaN,NaN,NaN
2,male,00e911f6-0d61-467a-a96d-33257c7f0bf1,"[{'identifier': 'michael-chong', 'scheme': 'ev...",http://www.parl.gc.ca/Parliamentarians/Images/...,[{'url': 'http://www.parl.gc.ca/Parliamentaria...,Michael Chong,1971-11-22,"[{'note': 'Wikimedia Commons', 'url': 'https:/...","[{'lang': 'ru', 'name': 'Майкл Чонг', 'note': ...",Michael,...,"[{'type': 'email', 'value': 'michael.chong@par...",Zhuang,NaN,michael.chong@parl.gc.ca,NaN,NaN,NaN,NaN,NaN,NaN
3,female,0119354b-349e-44fe-b3fb-83c4aacf3829,"[{'identifier': 'francine-raynault', 'scheme':...",http://www.lop.parl.gc.ca/parlinfo/images/Pict...,[{'url': 'http://www.lop.parl.gc.ca/parlinfo/i...,Francine Raynault,1945-03-09,"[{'note': 'Wikipedia (en)', 'url': 'https://en...",NaN,Francine,...,NaN,RAYNAULT,NaN,NaN,"RAYNAULT, Francine",NaN,NaN,NaN,NaN,NaN
4,male,0174b01d-0339-4e06-a595-f0e4a6623431,"[{'identifier': 'rodney-weston', 'scheme': 'ev...",http://www.lop.parl.gc.ca/parlinfo/images/Pict...,[{'url': 'http://www.lop.parl.gc.ca/parlinfo/i...,Rodney Weston,1964-03-28,"[{'note': 'Wikipedia (ar)', 'url': 'https://ar...","[{'lang': 'ar', 'name': 'رودني ويستون', 'note'...",Rodney,...,"[{'type': 'twitter', 'value': 'rodneywestonsj'}]",WESTON,NaN,NaN,"WESTON, Rodney",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1432,female,ffb68602-aba5-483d-b8da-94d9060be2f3,"[{'identifier': '10024', 'scheme': 'everypolit...",NaN,NaN,Jackie Ballard,1953-01-04,"[{'note': 'Wikipedia (en)', 'url': 'https://en...",NaN,Jackie,...,NaN,Ballard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,female,ffd1c1e2-82a4-4e1b-a522-859cff7f372f,"[{'identifier': '4126', 'scheme': 'datadotparl...",https://candidates.democracyclub.org.uk/media/...,[{'url': 'https://candidates.democracyclub.org...,Mary Glindon,1957-01-13,"[{'note': 'Wikimedia Commons', 'url': 'https:/...","[{'lang': 'ja', 'name': 'メアリー・グリンドン', 'note': ...",Mary,...,"[{'type': 'email', 'value': 'mary.glindon.mp@p...",NaN,NaN,mary.glindon.mp@parliament.uk,"Glindon, Mary",NaN,NaN,NaN,NaN,NaN
1434,male,ffdfc5f1-332b-4919-9452-571c01ce8c7a,"[{'identifier': '921', 'scheme': 'europarlmep'...",NaN,NaN,Richard Caborn,1943-10-06,"[{'note': 'Wikipedia (en)', 'url': 'https://en...","[{'lang': 'ko', 'name': '리처드 카본', 'note': 'mul...",Richard,...,NaN,NaN,NaN,NaN,NaN,The Right Honourable,NaN,NaN,NaN,NaN
1435,male,ffe205c2-7ba4-4512-9f04-66f9665da733,"[{'identifier': '25774', 'scheme': 'bbc_democr...",https://candidates.democracyclub.org.uk/media/...,[{'url': 'https://candidates.democracyclub.org...,Graham Allen,1953-01-11,"[{'note': 'Wikipedia (ar)', 'url': 'https://ar...","[{'lang': 'ar', 'name': 'غراهام ألين', 'note':...",Graham,...,"[{'type': 'twitter', 'value': 'GrahamAllenMPX'}]",Allen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,male,ffedc291-8826-46a9-aa9c-7c40fd474542,"[{'identifier': '10333', 'scheme': 'everypolit...",NaN,NaN,Fraser Kemp,1958-09-01,"[{'note': 'Wikipedia (ar)', 'url': 'https://ar...","[{'lang': 'ar', 'name': 'فرازير كيمب', 'note':...",Fraser,...,NaN,Kemp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
g7_gender_df=g7_df.groupby(g7_df['gender']).count()[['name']]
g7_gender_df['percentage']=(g7_gender_df['name']/g7_gender_df['name'].sum()*100).round(1).astype(str) + '%'
g7_gender_df.rename(columns={'name':'count'},inplace=True)
g7_gender_df.reset_index(inplace=True)
g7_gender_df

   gender  count percentage
0  female   2300      24.2%
1    male   7206      75.8%

In [16]:
# UK only data
uk_df=df[df['country']=='United Kingdom']
uk_gender_df=uk_df.groupby(uk_df['gender']).count()[['name']]
uk_gender_df['percentage']=(uk_gender_df['name']/uk_gender_df['name'].sum()*100).round(1).astype(str) + '%'
uk_gender_df.rename(columns={'name':'count'},inplace=True)
uk_gender_df.reset_index(inplace=True)
uk_gender_df

# Currently this sits at 35% in house of commons and 29% in house of lords

   gender  count percentage
0  female    374      26.0%
1    male   1063      74.0%

In [20]:
# Top 5 Highest HDI countries
Top_5_HDI_countries=['Switzerland','Norway','Iceland','Hong Kong','Australia']
H_HDI_df=df[df['country'].isin(Top_5_HDI_countries)]
H_HDI_df
H_HDI_gender_df=H_HDI_df.groupby(H_HDI_df['gender']).count()[['name']]
H_HDI_gender_df['percentage']=(H_HDI_gender_df['name']/H_HDI_gender_df['name'].sum()*100).round(1).astype(str) + '%'
H_HDI_gender_df.rename(columns={'name':'count'},inplace=True)
H_HDI_gender_df.reset_index(inplace=True)
H_HDI_gender_df

   gender  count percentage
0  female    838      23.5%
1    male   2725      76.5%

In [23]:
# Top 5 lowest HDI countries
Top_5_Lowest_HDI_countries=['South Sudan','Chad','Niger','Central African Republic','Burundi']
L_HDI_df=df[df['country'].isin(Top_5_Lowest_HDI_countries)]
L_HDI_df
L_HDI_gender_df=L_HDI_df.groupby(L_HDI_df['gender']).count()[['name']]
L_HDI_gender_df['percentage']=(L_HDI_gender_df['name']/L_HDI_gender_df['name'].sum()*100).round(1).astype(str) + '%'
L_HDI_gender_df.rename(columns={'name':'count'},inplace=True)
L_HDI_gender_df.reset_index(inplace=True)
L_HDI_gender_df

   gender  count percentage
0  female     59      24.4%
1    male    183      75.6%