In [1]:
import pandas as pd
df=pd.read_csv('../data/data_included.csv')
df=df[df.birth_date.str.len()==10]
df['birth_date']=pd.to_datetime(df['birth_date'], errors='coerce')
df['month']=df['birth_date'].dt.month
df['year']=df['birth_date'].dt.year
df['day']=df['birth_date'].dt.day
expected=len(df)/365

C:\Users\Ojas\AppData\Local\Temp\ipykernel_5864\2402189647.py:2: DtypeWarning: Columns (18,19,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/data_included.csv')

In [2]:
df_by_date=pd.concat([pd.DataFrame({'num_MP':df.query('month==@month and day==@day').shape[0],\
                         'pc_diff':(df.query('month==@month and day==@day').shape[0]-expected)/expected*100},\
                         index=[str(day)+'-'+str(month)])\
                         for month in range(1,13) for day in range(1,32)])
df_by_date

       num_MP     pc_diff
1-1       264  141.491655
2-1       128   17.086863
3-1       117    7.024711
4-1       102   -6.696406
5-1       119    8.854193
...       ...         ...
27-12      92  -15.843817
28-12     105   -3.952183
29-12     100   -8.525888
30-12      86  -21.332264
31-12      99   -9.440630

[372 rows x 2 columns]

In [3]:
df_by_date.loc['29-2', 'pc_diff']=df_by_date.loc['29-2', 'num_MP']/(len(df)/1461)*100

In [4]:
df_by_date.drop(df_by_date[df_by_date.num_MP==0].index, inplace=True)
df_by_date.sort_values(by='pc_diff', ascending=False).head(10)

      num_MP     pc_diff
1-1      264  141.491655
29-2      23   84.213824
1-6      162   48.188061
1-5      158   44.529096
1-10     149   36.296426
1-9      145   32.637462
20-1     145   32.637462
6-5      144   31.722721
7-7      141   28.978497
1-4      141   28.978497

In [5]:
df_by_date.sort_values(by='pc_diff', ascending=True).head(10)

       num_MP    pc_diff
25-10      72 -34.138640
13-12      75 -31.394416
7-12       77 -29.564934
16-11      78 -28.650193
11-10      79 -27.735452
27-10      79 -27.735452
27-11      80 -26.820711
2-10       82 -24.991229
12-11      85 -22.247005
14-11      85 -22.247005

In [6]:
df_by_date.drop(['29-2'], inplace=True)

In [7]:
df_by_date.index=pd.to_datetime(df_by_date.index, format='%d-%m')
df_by_date['day_number']=df_by_date.index.dayofyear
df_by_date.to_csv('../data/MPs_by_date.csv')

In [11]:
df.year.value_counts().sort_values(ascending=False).head(10)

1958.0    1082
1955.0    1076
1960.0    1070
1957.0    1059
1962.0    1037
1959.0    1026
1964.0    1026
1956.0    1021
1954.0    1008
1961.0     980
Name: year, dtype: int64