In [21]:
import pandas as pd
data=pd.read_csv('../data/data.csv')

C:\Users\Ojas\AppData\Local\Temp\ipykernel_25816\4291026395.py:2: DtypeWarning: Columns (17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('../data/data.csv')

In [22]:
data=data[data.birth_date.str.len()==10]
data['birth_date']=pd.to_datetime(data['birth_date'], errors='coerce')
data['month']=data['birth_date'].dt.month.astype(str).astype(float)
data['day']=data['birth_date'].dt.day.astype(str).astype(float)

In [28]:
#Taurus—April 20-May 20
taurus=data[((data['month']==4) & (data['day']>19)) | ((data['month']==5) & (data['day']<21))]
#Gemini—May 21-June 20
gemini=data[((data['month']==5) & (data['day']>20)) | ((data['month']==6) & (data['day']<21))]
#Cancer—June 21-July 22
cancer=data[((data['month']==6) & (data['day']>20)) | ((data['month']==7) & (data['day']<23))]
#Leo—July 23-August 22
leo=data[((data['month']==7) & (data['day']>22)) | ((data['month']==8) & (data['day']<23))]
#Virgo—August 23-September 22
virgo=data[((data['month']==8) & (data['day']>22)) | ((data['month']==9) & (data['day']<23))]
#Libra—September 23-October 22
libra=data[((data['month']==9) & (data['day']>22)) | ((data['month']==10) & (data['day']<23))]
#Scorpio—October 23-November 21
scorpio=data[((data['month']==10) & (data['day']>22)) | ((data['month']==11) & (data['day']<22))]
#Sagittarius—November 22-December 21
sagittarius=data[((data['month']==11) & (data['day']>21)) | ((data['month']==12) & (data['day']<22))]
#Capricorn—December 22-January 19
capricorn=data[((data['month']==12) & (data['day']>21)) | ((data['month']==1) & (data['day']<20))]
#Aquarius—January 20-February 18
aquarius=data[((data['month']==1) & (data['day']>19)) | ((data['month']==2) & (data['day']<19))]
#Pisces—February 19-March 20
pisces=data[((data['month']==2) & (data['day']>18)) | ((data['month']==3) & (data['day']<21))]
#Aries—March 21-April 19
aries=data[((data['month']==3) & (data['day']>20)) | ((data['month']==4) & (data['day']<20))]

In [34]:
df=pd.DataFrame([taurus.shape[0], gemini.shape[0], cancer.shape[0], leo.shape[0], virgo.shape[0], libra.shape[0], scorpio.shape[0], sagittarius.shape[0], capricorn.shape[0], aquarius.shape[0], pisces.shape[0], aries.shape[0]], columns=['count'], index=['Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces', 'Aries'])
df

             count
Taurus        3778
Gemini        3656
Cancer        3827
Leo           3650
Virgo         3623
Libra         3514
Scorpio       3247
Sagittarius   3377
Capricorn     4526
Aquarius      3574
Pisces        3616
Aries         3585

In [36]:
df['percent']=df['count']/df['count'].sum()*100
df['percent']=df['percent'].round(2)
df

             count  percent
Taurus        3778     8.59
Gemini        3656     8.31
Cancer        3827     8.70
Leo           3650     8.30
Virgo         3623     8.24
Libra         3514     7.99
Scorpio       3247     7.38
Sagittarius   3377     7.68
Capricorn     4526    10.29
Aquarius      3574     8.13
Pisces        3616     8.22
Aries         3585     8.15